@page "/management"
@using IncidentManagementWebApp.Enums
@using IncidentManagementWebApp.IncidentPropertyComparers
@using IncidentManagementWebApp.Interfaces
@using IncidentManagementWebApp.Services
@inject HttpClient Http
@inject UserStateService UserStateService

@if (Incidents.Count > 0)
{
    <h3>Gemelde incidenten</h3>
    <div>
        Sorteer op
        <select @onchange="(e) => SetSortOption(e)">
            <option value=""></option>
            <option value="Prioriteit">Prioriteit Hoog</option>
            <option value="Status">Status Gemeld</option>
        </select>
    </div>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Beschrijving</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Melder</th>
                <th>Melddatum</th>
                <th>Locatie</th>
            </tr>
        </thead>
        <tbody>
            @if (!this.isLoading)
            {
                @foreach (IIncident incident in Incidents)
                {
                    <tr>
                        <td>@incident.Description</td>
                        <td>
                            <select value="@incident.Status" @onchange="(e) => UpdateIncidentStatus(e, incident)">
                                @if (incident.Status == "Gemeld")
                                {
                                    <option selected value="Gemeld">Gemeld</option>

                                }
                                else
                                {
                                    <option value="Geregistreerd">Geregistreerd</option>
                                }
                                @if (incident.Status == "Geregistreerd")
                                {
                                    <option selected value="Geregistreerd">Geregistreerd</option>

                                }
                                else
                                {
                                    <option value="Geregistreerd">Geregistreerd</option>
                                }
                                @if (incident.Status == "In behandeling")
                                {
                                    <option selected value="In behandeling">In behandeling</option>

                                }
                                else
                                {
                                    <option value="In behandeling">In behandeling</option>
                                }
                                @if (incident.Status == "Afgehandeld")
                                {
                                    <option selected value="Afgehandeld">Afgehandeld</option>

                                }
                                else
                                {
                                    <option value="Afgehandeld">Afgehandeld</option>
                                }
                            </select>
                        </td>
                        <td>
                            <select value="@incident.Priority" @onchange="(e) => UpdateIncidentPriority(e, incident)">
                                @if (incident.Priority == null)
                                {
                                    <option value=""></option>
                                    
                                }
                                @if (incident.Priority == "Hoog")
                                {
                                    <option selected value="Hoog">Hoog</option>
                                }
                                else
                                {
                                    <option value="Hoog">Hoog</option>
                                }
                                @if (incident.Priority == "Normaal")
                                {
                                    <option selected value="Normaal">Normaal</option>
                                }
                                else
                                {
                                    <option value="Normaal">Normaal</option>
                                }
                                @if (incident.Priority == "Laag")
                                {
                                    <option selected value="Laag">Laag</option>
                                }
                                else
                                {
                                    <option value="Laag">Laag</option>
                                }
                            </select>
                        </td>
                        <td>@incident.Username</td>
                        <td>@incident.ReportDate</td>
                        <td>@incident.Location</td>
                        <td>
                            <button @onclick="() => DeleteIncident(incident)">Verwijderen</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <h4>Er zijn geen gemelde incidenten!</h4>
}

<style>
    .styled-table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .styled-table th {
        background-color: #f2f2f2;
    }

    .styled-table tr:hover {
        background-color: #f5f5f5;
    }
</style>

@code {
    bool isLoading = true;
    string currentUser;
    List<IIncident> Incidents = new List<IIncident>();
    PatchIncidentBody[] PatchIncidentBody;

    protected override async Task OnInitializedAsync()
    {
        currentUser = UserStateService.currentUser.username;

        await GetAllReportedIncidents();

        await base.OnInitializedAsync();
    }

    private async Task SetSortOption(ChangeEventArgs args) {
        switch(args.Value) {
            case "Prioriteit":
                await this.SortIncidentsByPriority();
                break;
            case "Status":
                await this.SortIncidentsByStatus();
                break;
            default:
                await this.GetAllReportedIncidents();
                break;
        }
    }

    private async Task SortIncidentsByPriority() 
    {
        Incidents = Incidents.Order(new IncidentPriorityComparer()).ToList();
    }

    private async Task SortIncidentsByStatus()
    {
        Incidents = Incidents.Order(new IncidentStatusComparer()).ToList();
    }

    private async Task GetAllReportedIncidents()
    {
        try
        {
            var response = await Http.PostAsJsonAsync("https://localhost:7015/api/incident/getAll", new { username = currentUser });

            if (response.IsSuccessStatusCode)
            {
                IIncident[] incidents = await response.Content.ReadFromJsonAsync<IIncident[]>();

                this.Incidents.Clear();
                this.Incidents = incidents.ToList();
                this.isLoading = false;
                StateHasChanged();
            }
            else
            {
                Console.WriteLine("Could not fetch Incidents");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private async Task UpdateIncidentStatus(ChangeEventArgs args, IIncident incident)
    {
        try
        {
            var body = new PatchIncidentBody
            {
                Status = args.Value as string,
                Priority = incident.Priority
            };

            var response = await Http.PatchAsJsonAsync("https://localhost:7015/api/incident/" + incident.Id, body);

            if (response.IsSuccessStatusCode)
            {
                await GetAllReportedIncidents();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private async Task UpdateIncidentPriority(ChangeEventArgs args, IIncident incident)
    {
        try
        {
            var body = new PatchIncidentBody
                {
                    Status = incident.Status,
                    Priority = args.Value as string
                };

            var response = await Http.PatchAsJsonAsync("https://localhost:7015/api/incident/" + incident.Id, body);

            if (response.IsSuccessStatusCode)
            {
                await GetAllReportedIncidents();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private async Task DeleteIncident(IIncident incident)
    {
        try
        {
            var response = await Http.DeleteAsync("https://localhost:7015/api/Incident/" + incident.Id);

            if (response.IsSuccessStatusCode)
            {
                await GetAllReportedIncidents();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }
}

            